{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS File/style.CSS' %}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="{% static 'https://kit.fontawesome.com/ca73119b63.js' %}" crossorigin="anonymous"></script>
    <title>Lab Test</title>
</head>
<body>
    <nav class="navbar back1 h-nav">
        <ul class="nav-list v-class">
            <div class="logo"><img src="{% static 'Img/Logo.png' %}" alt="Logo"></div>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'DoctorDetails' %}">Book Apointment</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Book Apointment</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'LabTest' %}">Book Lab Test</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Book Lab Test</a></li>
            {% endif %}
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
        <div class="rightNav v-class">
            {% if user.is_authenticated %}

            <li class="Hi"> Hi, {{user.first_name}} </li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login/Signup</a></li>
            {% endif %}
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>
    </nav>
<section class="form">
    
        <form action="LabTest" method='post'>
            {% csrf_token %}

        <div class="form-li">
            <i class="fas fa-map-marker"></i>
            <select name='location'>
                <option value="No-Location">Select Your Location</option>
                <option value="Aurangabad">Aurangabad</option>
                <option value="Beed">Beed</option>
                <option value="Latur">Latur</option>
                <option value="Osmanabad">Osmanabad</option>
                <option value="Solapur">Solapur</option>
            </select>
        </div>
        
        <div class="form-2">
            <i class="fas fa-disease"></i>
            <select name='type_test'>
                <option value="no-lab test">Choose Your Lab Test</option>
                <option value="Blood Test">Blood Test</option>
                <option value="Urine Test">Urine Test</option>
                <option value="RTPCR Test">RTPCR Test</option>
                <option value="HIV Test">HIV Test</option>
                <option value="DNA Test">DNA Test</option>
            </select>
        </div>

        <div class="size">           
            <button type="submit" class="btn-submit">Submit</button>            
        </div>
   
    </form>
    
   
</section>
    
</body>
</html>