{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS File/style.CSS' %}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/ca73119b63.js" crossorigin="anonymous"></script>
    <title>Create a New Account</title>
</head>

<body>

    <nav class="navbar back1 h-nav">
        <ul class="nav-list v-class">
            <div class="logo"><img src="{% static 'Img/Logo.png' %}" alt="Logo"></div>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'DoctorDetails' %}">Book Apointment</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Book Apointment</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'LabTest' %}">Book Lab Test</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Book Lab Test</a></li>
            {% endif %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'NewAccount' %}">NewAccount</a></li>
        </ul>
        <div class="rightNav v-class">
            {% if user.is_authenticated %}
            <li class="Hi"> Hi, {{user.first_name}} </li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login/Signup</a></li>
            {% endif %}
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>
    </nav>

    <section class="account">

        <form action="NewAccount" method="post">
            {% csrf_token %}

            <p class="account1"><b><Big>Create An Account</Big></b></p><br><br>
            
            <input class="account2" type="text" name='first_name' placeholder="First Name"><br><br>
            <input class="account2" type="text" name='last_name' placeholder="Last Name"><br><br>
            <input class="account2" type="text" name='username' placeholder="Username"><br><br>
            <input class="account2" type="email" name='email' placeholder="Email Address"><br><br>
            <input class="account2" type="number" placeholder="Age"><br><br>
            
            <label for="male">
                <input type="radio" value="male" name="gender" id="male"> Male
            </label>
            
            <label for="female">
                <input type="radio" value="female" name="gender" id="female"> Female
            </label>
            
            <label for="other">
                <input type="radio" value="other" name="gender" id="other"> Other
            </label><br><br>
            
            <input class="account2" type="tel" placeholder="Mobile No."><br><br>
            <input class="account2" type="password" name='password1' placeholder="Password"><br><br>

            <div>
                <button type="submit" class="account3">Create An Account</button>
            </div>

            <div>
                {% for message in messages %}
                <h3>{{message}}</h3>
                {% endfor %}
            </div>

        </form>



    </section>

</body>

</html>